@mixin bubble-with-types {
  @include padding($space-small $space-normal);
  @include margin($zero);
  background: #2f3235;
  border-radius: $space-one;
  color: #d8d8d8;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  position: relative;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.07);
  text-align: start !important;
  unicode-bidi: plaintext;

  .message-text__wrap {
    position: relative;
    text-align: start !important;
    unicode-bidi: plaintext;

    p {
    	text-align: start !important;
    	unicode-bidi: plaintext;
    }

    .link {
      color: var(--white);
      text-decoration: underline;
    }
  }

  .image {
    cursor: pointer;
    position: relative;

    .modal-container {
      text-align: center;
    }

    .modal-image {
      max-width: 85%;
    }

    &::before {
      background-image: linear-gradient(-180deg, transparent 3%, $color-heading 130%);
      bottom: 0;
      content: '';
      height: 20%;
      left: 0;
      opacity: .8;
      position: absolute;
      width: 100%;
    }
  }
}

.conversations-sidebar {
  @include flex;
  flex-direction: column;

  .load-more-conversations {
    font-size: $font-size-small;
    margin: 0;
    padding: $space-normal;
    width: 100%;
  }

  .end-of-list-text {
    padding: $space-normal;
  }

  .conversations-list {
    @include flex-weight(1);
    @include scroll-on-hover;
  }

  .chat-list__top {
    @include flex;
    @include padding($zero $zero $space-micro $zero);

    align-items: center;
    justify-content: space-between;

    .page-title {
      margin-bottom: $zero;
      margin-left: $space-normal;
    }

    .status--filter {
      @include padding($zero null $zero $space-normal);
      @include round-corner;
      @include margin($space-smaller $space-slab $zero $zero);
      background-color: $color-background-dark4;
      border: 1px solid $color-background-dark4;
      float: right;
      font-size: $font-size-mini;
      height: $space-medium;
      width: auto;
      color: $color-dark-gray;
    }
  }

  .content-box {
    text-align: center;
  }
}

.conversation-wrap {

  background: $color-background-dark3;
  @include margin(0);
  border-left: 1px solid $color-border-dark2;

  .current-chat {
    @include flex;
    @include full-height;
    @include flex-align(center, middle);
    flex-direction: column;

    div {
      @include flex;
      @include full-height;
      @include flex-align(center, middle);
      flex-direction: column;

      img {
        @include margin($space-normal);
        width: 10rem;
      }

      span {
        font-size: $font-size-small;
        font-weight: $font-weight-medium;
        text-align: center;
      }
    }
  }

  .conv-empty-state {
    @include flex;
    @include full-height;
    @include flex-align(center, middle);
    flex-direction: column;
  }
}

.conversation-panel {
  @include flex;
  @include flex-weight(1);
  @include margin($zero);
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-bottom: var(--space-normal);
  position: relative;
}

.conversation-panel>li {
  @include flex;
  @include flex-shrink;
  @include margin($zero $zero $space-micro);
  position: relative;

  &:first-child {
    margin-top: auto;
  }

  &:last-child {
    margin-bottom: $space-small;
  }

  &.unread--toast {
    span {
      @include elegant-card;
      @include round-corner;
      background: $color-woot;
      color: var(--white);
      font-size: $font-size-mini;
      font-weight: $font-weight-medium;
      margin: $space-one auto;
      padding: $space-smaller $space-two;
    }
  }

  .bubble {
    @include bubble-with-types;
    max-width: 50rem;
    // text-align: left;
    text-align: start !important;
    word-wrap: break-word;

    .aplayer {
      box-shadow: none;
      font-family: inherit;
    }
  }

  &.left {

    .bubble {
      // @include border-normal; // Removed for better looks
      // background: $color-woot;
      background: #3b4854;
      border-bottom-left-radius: $space-smaller;
      border-top-left-radius: $space-smaller;
      // color: $color-border-light;
      color: #ccc;
      margin-right: auto;

      // .time {
      //   color: #7c8e96;
      // }

      // .image .time {
      //   color: $color-white;
      // }
      &.is-image {
        border-radius: var(--border-radius-large);
      }

      .link {
        // color: $color-primary-dark;
        color: #9fc0de;
      }

      .file {
        .text-block-title {
          color: $color-body;
        }

        .icon-wrap {
          color: $color-woot;
        }

        .download {
          color: $color-primary-dark;
        }
      }

    }

    +.right {
      margin-top: $space-one;

      .bubble {
        border-top-right-radius: $space-one;
        text-align: start !important;
  		unicode-bidi: plaintext;
      }
    }

  }

  &.right {
    @include flex-align(right, null);

    .wrap {
      margin-right: $space-normal;
      text-align: right;
    }

    .bubble {
      border-bottom-right-radius: $space-smaller;
      border-top-right-radius: $space-smaller;
      margin-left: auto;
      text-align: start !important;
  	  unicode-bidi: plaintext;

      &.is-private {
        // background: lighten($warning-color, 32%);
        // border: 1px solid lighten($warning-color, 15%);
        // color: $color-heading;
        background: #463f2e;
        border: 1px solid #63532e;
        color: #b3a06f;
        padding-right: $space-large;
        position: relative;

        &::before {
          bottom: 0;
          color: $medium-gray;
          position: absolute;
          right: $space-one;
          top: $space-smaller + $space-micro;
        }

        // .time {
        //   // color: $color-light-gray;
        //   color: #ffd975;
        // }
      }

      &.is-image {
        border-radius: var(--border-radius-large);
      }
    }

    +.left {
      margin-top: $space-one;

      .bubble {
        border-top-left-radius: $space-one;
      }
    }
  }

  .wrap {
    @include margin($zero $space-normal);
    max-width: 69%;

    .sender--name {
      font-size: $font-size-mini;
      margin-bottom: $space-smaller;
    }
  }

  .sender--thumbnail {
    @include round-corner();
    height: $space-slab;
    margin-right: $space-one;
    margin-top: $space-micro;
    width: $space-slab;
  }

  .activity-wrap {
    @include flex;
    @include margin($space-small auto);
    @include padding($space-small $space-normal);
    @include flex-align($x: center, $y: null);
    // background: lighten($warning-color, 32%);
    // border: 1px solid lighten($warning-color, 22%);
    background: #000;
    border: 1px solid $color-border-dark2;
    border-radius: $space-smaller;
    font-size: $font-size-small;

    p {
      color: $color-light-gray;
      margin-bottom: $zero;

      .ion-person {
        color: $color-body;
        font-size: $font-size-default;
        margin-right: $space-small;
        position: relative;
        top: $space-micro;
      }

      .message-text__wrap {
        position: relative;
        display: inline-block;
        text-align: start !important;
        unicode-bidi: plaintext;
      }

      .message-text {
        &::after {
          content: ' \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
          display: inline;
        }
      }
    }

    // .time {
    //   // color: $medium-gray;
    //   color: $color-light-gray;
    //   font-size: $font-size-micro;
    //   margin-left: $space-slab;
    // }
  }
}

.activity-wrap .message-text__wrap {
  .text-content p {
    margin-bottom: 0;
  }
}

.conversation-footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.typing-indicator-wrap {
  align-items: center;
  display: flex;
  height: 0;
  position: absolute;
  top: -$space-large;
  width: 100%;

  .typing-indicator {
    @include elegant-card;
    @include round-corner;
    background: var(--white);
    color: $color-light-gray;
    font-size: $font-size-mini;
    font-weight: $font-weight-bold;
    margin: $space-one auto;
    padding: $space-small $space-normal $space-small $space-two;

    .gif {
      margin-left: $space-small;
      width: $space-medium;
    }
  }
}

.left .bubble .text-content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-body);
    text-align: start !important;
  	unicode-bidi: plaintext;
  }

  a {
    color: var(--color-woot);
    text-decoration: underline;
    text-align: start !important;
  	unicode-bidi: plaintext;
  }

  blockquote {
    border-left-color: var(--s-300);
    text-align: start !important;
  	unicode-bidi: plaintext;

    p {
      color: var(--s-300);
      text-align: start !important;
  	unicode-bidi: plaintext;
    }
  }

  p:last-child {
    margin-bottom: 0;
    text-align: start !important;
  	unicode-bidi: plaintext;
  }
}

.right .bubble .text-content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--white);
    text-align: start !important;
  	unicode-bidi: plaintext;
  }

  a {
    color: var(--white);
    text-decoration: underline;
    text-align: start !important;
  	unicode-bidi: plaintext;
  }

  blockquote {
    border-left-color: var(--w-100);
    text-align: start !important;
  	unicode-bidi: plaintext;

    p {
      color: var(--w-100);
      text-align: start !important;
  	unicode-bidi: plaintext;
    }
  }

  pre code {
    background: var(--color-background);
    text-align: start !important;
  	unicode-bidi: plaintext;
  }

  p:last-child {
    margin-bottom: 0;
    text-align: start !important;
  	unicode-bidi: plaintext;
  }
}
